.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    z-index: 1;

    &:hover {
        cursor: pointer;
        background-color: rgba(220, 220, 224, 0.15);
    }
}
.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.content {
    display: flex;
    flex-direction: column;
}

.heading {
    display: flex;
    align-items: center;
    line-height: 22px;

    .name {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .icon-checked {
        width: 14px;
        height: 14px;
        color: aqua;
        padding-left: 4px;
    }
}

.description {
    font-size: 1.4rem;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.34);
}

.information {
    margin-top: 8px;
    font-size: 1.7rem;
}

.status {
    font-weight: 700;
    padding-right: 6px;
}

.followers {
    padding-right: 12px;
}

.wrapper.small {
    padding: 8px;

    .avatar {
        width: 32px;
        height: 32px;
    }

    .name {
        font-size: 16px;
        line-height: 17px;
    }
    .description {
        font-size: 1.2rem;
        line-height: 15px;
    }
}
