.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  background-color: white;
  z-index: 1;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  // width: 100%;
  width: var(--default-layout-width);
  padding: 0 4px 0 24px;

  &.live {
    width: 100%;
  }
}

.logo {
  display: flex;
  align-items: center;
}

// Right

.right-container {
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.plus {
  padding-right: 10px;
}

.more-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.more-icon {
  width: 20px;
  height: 20px;
  padding: 0 20px 0 4px;
  margin-left: 16px;
}

.header-icon {
  width: 32px;
  height: 32px;
  padding: 3px 3px 0 3px;
  margin-left: 16px;
  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
  }
}

.avatar-container {
  padding: 6px 24px 0 24px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
